{% from 'macro-productos.html' import catalogo_productos %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Hello, world!</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-success py-4">
            <div class="container-fluid justify-content-center">
                <i class="fa-solid fa-cart-shopping text-center fa-2xl" href="#" style="color:white"></i>
            </div>
        </nav>
        <h1 class="text-center">Bienvenidos al mercado WEB, selecciona tus productos</h1>
        <section class="row offset-2 py-4">
            {% for producto in productos %}
                {{ catalogo_productos(producto) }}
            {% endfor %}
        </section>
        
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>
